body { color: #696969; font-family: Arial, Helvetica, sans-serif; margin: 0px; position: relative; }

.toolbarrow { } 
.toolbarrow .toolbar2 { display: inline-block; font-weight: bold; margin-bottom: 20px; margin-right: 20px; } 
.page-nav { display: inline-block; margin: 20px 0; }
.page-nav.page-chevron { background-color: #fff; border: 1px solid #ddd; border-radius: 5px; margin-left: 2px; margin-right: 2px; padding: 7px; }
.page-nav .nav-page { background-color: #fff; border: 1px solid #ddd; border-radius: 5px; margin: 0 2px; padding: 10px; }
.toolbar.form-select { display: inline; margin-right: 5px; width: auto; }

.footerback { margin-top: 10px; padding-bottom: 20px; }

.required { color: #A80000; font-weight: bold; }
textarea { resize: none; }

/**************/
/* font sizes */
/**************/
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p { font-size: 0.9em; }
a { font-size: 0.9em; }
p a { font-size: 1em; }
input { font-size: 0.9em; }
input::placeholder { font-size: 0.9em; }
.form-control { font-size: 0.9em; }
.form-control::placeholder { font-size: 0.9em; }
.form-check-label { font-size: 0.9em; } 
.form-select { font-size: 0.9em; }
.col-form-label { font-size: 0.9em; }
.col-form-label a { font-size: 1em; }
.btn { font-size: 0.9em; }
.toolbar2 { font-size: 0.9em; }
.formsubmit { font-size: 0.9em; }
.tagHints { font-size: 0.9em; }
.text-end span { font-size: 0.9em; }

.pickerNode .idea-title { font-size: 0.9em; }

span.nav { font-size: 0.9em; }
span.page-nav { font-size: 0.9em; }
span.page-nav i.fa-lg { font-size: 0.9em !important; }

.popups span.active { font-size: 0.9em; }

.help-hint i { cursor: pointer; }
.hintRollover { border: 1px solid #308D88; left: 0px; padding: 0px; position: absolute; overflow: hidden; top: 0px; visibility: hidden; z-index: 20; }

/* for the scriptaculous auto complete box */
div.autocomplete { float: left; background-color: white; border: 1px solid #888; }
div.autocomplete ul { list-style-type: none; margin: 0px; padding: 0px; }
div.autocomplete ul li.selected { background-color: #ffb; }
div.autocomplete ul li { list-style-type: none; display: block; margin: 0; padding: 2px; cursor: pointer; }

.curvedBorder { border-radius: 8px; border: 1px solid #696969; padding: 10px 20px; }


/*************/
/** Sidebar **/
/*************/
.main-sidebar h2 { font-weight: bold; }
.main-sidebar a { font-weight: normal; }

.sidebar-content .history-item { border-right: 1px solid lightgray; display: inline-block; height: 100px; overflow: hidden; padding: 5px 15px; width: 120px; } 
.sidebar-content .history-item .history-title { display: block; font-weight: bold; } 
.sidebar-content .history-item .itemtext { display: block; font-weight: normal; }
.sidebar-content .history-item .itemtext img { display: inline; height: 20px; margin-top: 2px; margin-right: 10px; width: 20px; }
.sidebar-content .history-item .itemtext span { display: inline; word-break: break-all; }

.sidebar-content .history-user { border-right: 1px solid lightgray; display: inline-block; height: 100px; overflow: hidden; padding: 5px 15px; width: 120px; } 
.sidebar-content .history-user .itemtext { display: block; font-weight: bold; text-align: center; }
.sidebar-content .history-user .itemtext img { display: block; height: auto; margin: 5px auto; width: 25px; }


.pickerNode .idea-title img { max-width: 30px; }