.idea-menus button.active { border: none; padding: 0; margin: 0; background: transparent; font-family: Arial, Helvetica, sans-serif; }

/****************/
/* for node div */
/****************/
.toConnectionsTable { margin-bottom: 0px !important; }
.toConnectionsTable td { padding: 1px 0px !important; }

div.idea-container { padding: 2px; background: #d3e8e8; border-radius: 10px; }
div.idea-container-aggregate { padding: 2px; background: #d3e8e8; border: 2px solid black; border-radius: 10px; }
div.idea-container-fake { padding: 2px; background: #DAD2D2; border-radius: 10px; }
div.idea-header { background: #d3e8e8; }
div.idea-header-fake { background: #DAD2D2; }
div.idea-title { padding: 0 3px; overflow: hidden; font-size: 0.9em; }
div.idea-title .table { width: unset !important; }
div.idea-title .voting-td { width: 100px; }
div.idea-title .voting-td .voting img { display: inline-block; margin: 0 5px; }
div.idea-title .voting-td .voting span { display: inline-block; margin-top: 2px; }

div.idea-title-fake { padding: 5px; width: 95%; }
div.idea-user { padding: 5px 5px 5px 5px; text-align: right; }
div.idea-user2 { padding-right: 5px; } 
div.idea-user img { border: 0px; }
div.idea-wrapper { padding: 2px; border-radius: 8px; }
div.idea-main { width: 100%; }
div.idea-desc { width: 100%; overflow-y: auto; overflow-x: hidden; text-align: left; display: block; }
div.idea-action {  margin: 2px; text-align: right; }
div.idea-menus { margin-left: 2px; margin-right: 2px; background: transparent; }
.ideadata { margin: 5px; }

ol.idea-list-ol { list-style: none; margin: 0 0 15px 0; padding: 0; }
ol.idea-list-ol li.idea-list-li { margin: 0; padding: 0; }
ol.idea-list-ol li.idea-list-li .idea-blob-list { margin-left: 5px; padding-left: 5px; }
.node-image-icon { display: inline-block; height: 20px; margin-right: 10px; margin-top: 2px; width: 20px; }

ol li { vertical-align: top; }
div.idea-li-wrapper { width: 100%; }
.idea-blob { width: 70%; margin-left: 50px; margin-bottom: 20px; }
.li-no { width: 30px; }
.itemtext { word-break: break-word; hyphens: auto; cursor: pointer; color: DimGrey; }
.itemtextwhite { word-break: break-word; hyphens: auto; cursor: pointer; color: white; }
.itemtextblackinactive { word-break: break-word; hyphens: auto; color: black; font-weight: bold; }
.itemtextinactive { list-style-type: none; color: DimGrey; font-weight: bold; }
.selectedlabel { color: #4e247b; }
.unselectedlabel { color: dimgray; }

/** NEW FOR VERSION 2.0 **/
.selectedback { background: #FBFCB4; }

.toolbarDiv a,
.toolbarDiv span.active { cursor: pointer; }