/**
 * These are the style that, in our experience, most commonly requiring per-site customization.
 * We have separated these out to try and make updating the code with new versions easier.
 *
 * Eventually, we hope to have a more sophisicated style system in place to allow 
 * easier customization of any styles.
 */

a { color: #C9036A; font-weight: bold; text-decoration: none; }
a:hover { color: #008fb6; }
.debatetext { color: #414141; text-decoration: none; }
.debatetext:hover { color: #C9036A; }
.itemtext:hover { color: #C9036A; }
h1 { margin-top: 5px; margin-bottom: 10px; color: #085E5D; }
h2 { margin: 0px; margin-bottom: 10px; color: #085E5D; }

.active { color: #C9036A; cursor: pointer; font-weight: normal; }
.inactive{ cursor: default; color: #A4A4A4; }
.footertitle { color: #4e247b; }
#dialoglogo { float: left; margin-bottom: 3px; margin-top: 3px; margin-left: 3px; }
#logo { float: left; padding-top: 0px; margin: 15px; margin-bottom: 0px; }
.subform { border: 2px solid #40B5B2; }
.subform2 { border: 2px solid #40B5B2; }
.hgrsubform { border: 2px solid #40B5B2; }
hr.urldivider { background: #40B5B2; border: 0px; padding: 0px; height: 1px; width: 100%; }
#tagcloud li a { text-decoration: none; color: #C9036A; padding: 2px; }
#tagcloud li a:hover{ color: #C9036A; }

.graphmaintoolbar button { color: #C9036A; }

.toolbarIcons button:hover { color: #4e247b; }

/*******************/
/**** HOME PAGE ****/
/*******************/
.hometitles { font-weight: bold; color: #4e247b; padding-left: 0px; }
.homesubtitle { color: #008fb6; }
.themecloudtext { color: #C9036A; }

/******************************/
/**** CATEGORIES TAB PAGES ****/
/******************************/

/************************/
/** Challenge tab area **/
/************************/
.challengeback { background: #085E5D; }
.challengebackpale { background: #d5e9e9; }
.challengebackpale2 { background: #d5e9e9; }
.challengeborder { border: 1px solid #085E5D; }
.challengeborder-bottom { border-bottom: 1px solid #085E5D; }
.challengebackgradient { background: #085E5D; background: linear-gradient(to bottom, #085E5D, #ffffff); }
.challengebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #085E5D); }

/********************/
/** Issue Tab Area **/
/********************/
.issueback,
.themelist1back { background: #085E5D; }
.issuebackpale { background: #E6F7FF; }
.issueborder, 
.themelist1border { border: 1px solid #085E5D; }
.issueborder-bottom { border-bottom: 1px solid #085E5D; }
.issuebackgradient, 
.themelist1colour { background: #085E5D; background: linear-gradient(to bottom, #085E5D, #ffffff); }
.issuebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #085E5D); }

/***********************/
/** Solution tab area **/
/***********************/
.solutionback, 
.themelist4back { background: #96B73D; }
.solutionbackpale { background: #EEF7E2; }
.solutionborder, 
.themelist4border { border: 1px solid #96B73D; }
.solutionborder-bottom { border-bottom: 1px solid #96B73D; }
.solutionbackgradient, 
.themelist4colour { background: #96B73D; background: linear-gradient(to bottom, #96B73D, #ffffff); }
.solutionbackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #96B73D); }

/********************/
/** Claim tab area **/
/********************/
.claimback { background: #96B73D; }
.claimbackpale { background: #EEF7E2; }
.claimborder { border: 1px solid #96B73D; }
.claimborder-bottom { border-bottom: 1px solid #96B73D; }
.claimbackgradient { background: #96B73D; background: linear-gradient(to bottom, #96B73D, #ffffff); }
.claimbackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #96B73D); }

/***************************/
/** Organisation tab area **/
/***************************/
.orgback { background: #27318B; }
.orgbackpale { background: #EAECF5; }
.orgborder { border: 1px solid #27318B; }
.orgborder-bottom { border-bottom: 1px solid #27318B; }
.orgbackgradient { background: #27318B; background: linear-gradient(to bottom, #27318B, #ffffff); }
.orgbackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #27318B); }

/****************************************************/
/** Project tab area: CURRENTLY IN SAME TAB AS ORG **/
/****************************************************/
.projectback { background: #27318B; }
.projectbackpale { background: #EAECF5; }
.projectborder { border: 1px solid #27318B; }
.projectborder-bottom { border-bottom: 1px solid #27318B; }
.projectbackgradient { background: #27318B; background: linear-gradient(to bottom, #27318B, #ffffff); }
.projectbackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #27318B); }

/*********************/
/** People tab area **/
/*********************/
.peopleback { background: #27318B; }
.peoplebackpale { background: #EAECF5; }
.peopleborder { border: 1px solid #27318B; }
.peopleborder-bottom { border-bottom: 1px solid #27318B; }
.peoplebackgradient { background: #27318B; background: linear-gradient(to bottom, #27318B, #ffffff); }
.peoplebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #27318B); }

/***********************/
/** Evidence tab area **/
/***********************/
.evidenceback, 
.themelist3back { background: #7D83BF; }
.evidencebackpale { background: #EADDF1; }
.evidenceborder, 
.themelist3border { border: 1px solid #7D83BF; }
.evidenceborder-bottom { border-bottom: 1px solid #7D83BF; }
.evidencebackgradient, 
.themelist3colour { background: #7D83BF; background: linear-gradient(to bottom, #7D83BF, #ffffff); }
.evidencebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #7D83BF); }

/***********************/
/** Resource tab area **/
/***********************/
.resourceback { background: #A9AB11; }
.resourcebackpale { background: #F8F8D2; }
.resourceborder { border: 1px solid #A9AB11; }
.resourceborder-bottom { border-bottom: 1px solid #A9AB11; }
.resourcebackgradient { background: #A9AB11; background: linear-gradient(to bottom, #A9AB11, #ffffff); }
.resourcebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #A9AB11); }

/************/
/** Themes **/
/************/
.themeback, 
.themelist2back { background: #DA569A; }
.themebackpale { background: #FCDDEC; }
.themeborder, 
.themelist2border { border: 1px solid #DA569A; }
.themeborder-bottom { border-bottom: 1px solid #DA569A; }
.themebackgradient, 
.themelist2colour { background: #DA569A; background: linear-gradient(to bottom, #DA569A, #ffffff); }
.themebackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #DA569A); }

/*************/
/** NEUTRAL **/
/*************/
.plainback { background: #B0B0B0; }
.plainbackpale { background: #D0D0D0; }
.plainborder { border: 1px solid #D0D0D0; }
.plainborder-bottom { border-bottom: 1px solid #D0D0D0; }
.plainbackgradient { background: #D0D0D0; background: linear-gradient(to bottom, #D0D0D0, #ffffff); }
.plainbackgradient2 { background: #ffffff; background: linear-gradient(to bottom, #ffffff, #D0D0D0); }

.themelist { cursor: pointer; display: flex; justify-content: center; align-content: center; flex-direction: column; height: 100px; hyphens: auto; margin: 5px; padding: 0; position: relative; text-align: center; width: 120px; }
.themelistinner { background: none; background-color: transparent; display: block; }
.themebutton { background: none; background-color: transparent; color: #4e247b; }
.themebutton span { background: none; background-color: transparent; }
.theme img { height: auto; width: 100%; }

.adminlist { cursor: pointer; display: flex; justify-content: center; align-content: center; flex-direction: column; height: 100px; hyphens: auto; margin: 5px; padding: 0; position: relative; text-align: center; width: 120px; }
.adminlistinner { background: none; background-color: transparent; }
.widgettextcolor { color: #4e247b; }
.overviewfieldset { border: 1px #4e247b solid; padding-top: 3px; }

/***************************/
/** TABBER Customizations **/
/***************************/
#tabber .main-nav li.nav-item a.tab span { border-bottom: 1px solid #fff; color: #696969; padding-bottom: 1px;  }
#tabber .main-nav li.nav-item a.tab.current span,
#tabber .main-nav li.nav-item a.tab.active span,
#tabber .main-nav li.nav-item a.tab:hover span { border-bottom: 1px solid; text-decoration: none; }

#tabber .main-nav li.nav-item a.tab:hover span.tabhome { color: #4e247b; }
#tabber .main-nav li.nav-item a.tab.current span.tabhome,
#tabber .main-nav li.nav-item a.tab.active span.tabhome { color: #4e247b; }
#tabber .main-nav li.nav-item a.tab:hover span.tabevidence { color: #7D83BF; }
#tabber .main-nav li.nav-item a.tab.current span.tabevidence,
#tabber .main-nav li.nav-item a.tab.active span.tabevidence { color: #7D83BF; }
#tabber .main-nav li.nav-item a.tab:hover span.tabchallenge { color: #085E5D; }
#tabber .main-nav li.nav-item a.tab.current span.tabchallenge,
#tabber .main-nav li.nav-item a.tab.active span.tabchallenge { color: #085E5D; }
#tabber .main-nav li.nav-item a.tab:hover span.tabissue { color: #085E5D; }
#tabber .main-nav li.nav-item a.tab.current span.tabissue,
#tabber .main-nav li.nav-item a.tab.active span.tabissue { color: #085E5D; }
#tabber .main-nav li.nav-item a.tab:hover span.tabsolution { color: #96B73D; }
#tabber .main-nav li.nav-item a.tab.current span.tabsolution,
#tabber .main-nav li.nav-item a.tab.active span.tabsolution { color: #96B73D; }
#tabber .main-nav li.nav-item a.tab:hover span.tabclaim { color: #96B73D; }
#tabber .main-nav li.nav-item a.tab.current span.tabclaim,
#tabber .main-nav li.nav-item a.tab.active span.tabclaim { color: #96B73D; }
#tabber .main-nav li.nav-item a.tab:hover span.tabresource { color: #A9AB11; }
#tabber .main-nav li.nav-item a.tab.current span.tabresource,
#tabber .main-nav li.nav-item a.tab.active span.tabresource { color: #A9AB11; }
#tabber .main-nav li.nav-item a.tab:hover span.taborg { color: #27318B; }
#tabber .main-nav li.nav-item a.tab.current span.taborg,
#tabber .main-nav li.nav-item a.tab.active span.taborg { color: #27318B; }
#tabber .main-nav li.nav-item a.tab:hover span.tabproject { color: #27318B; }
#tabber .main-nav li.nav-item a.tab.current span.tabproject,
#tabber .main-nav li.nav-item a.tab.active span.tabproject { color: #27318B; }
#tabber .main-nav li.nav-item a.tab:hover span.tabuser { color: #27318B; }
#tabber .main-nav li.nav-item a.tab.current span.tabuser,
#tabber .main-nav li.nav-item a.tab.active span.tabuser { color: #27318B; }
#tabber .main-nav li.nav-item a.tab:hover span.tabtheme { color: #DA569A; }
#tabber .main-nav li.nav-item a.tab.current span.tabtheme,
#tabber .main-nav li.nav-item a.tab.active span.tabtheme { color: #DA569A; }

.homebutton1 { color: #4e247b; }
.homebutton2 { color: white; }

/***********/
/** Stats **/
/***********/
.tabber-stats a span,
.tabber-stats a:visited span { color: #555; font-weight: normal; }
.tabber-stats a:hover span { color: #DA569A; }
.tabber-stats a.active span { color: #C9036A; font-weight: bold; }

/***********/
/** Stats **/
/***********/
.tabber-search a,
.tabber-search a:visited { color: #555 !important; font-weight: normal !important; }
.tabber-search a:hover { color: #DA569A !important; }
.tabber-search a.active { color: #C9036A !important; font-weight: bold !important; }

/**********/
/** User **/
/**********/
.tabber-user a,
.tabber-user a:visited { color: #555 !important; font-weight: normal !important; }
.tabber-user a:hover { color: #DA569A !important; }
.tabber-user a.active { color: #C9036A !important; font-weight: bold !important; }
.user-tabs2 a.nav-link,
.user-tabs2 a:visited { color: #C9036A !important; }
.user-tabs2 a:hover { color: #DA569A !important; text-decoration: underline; }
.tabber-user a.map-btn span { color: #C9036A !important; }

/************/
/** Search **/
/************/
.searchresulttitle { color: #4e247b; }

/*********************/
/** Knowledge Trees **/
/*********************/
.toolbarDiv a,
.toolbarDiv span.active { color: #C9036A !important; }
.toolbarDiv a:hover,
.toolbarDiv span.active:hover { color: #008fb6 !important; }

/****************/
/** Admin page **/
/****************/
.btn-admin { background-color: #ddd; border-color: #ddd; color: #555 !important; font-weight: bold; }
.btn-admin:hover { background-color: #a91a70; border-color: #a91a70; color: #fff !important; }
.btn-admin.active { background-color: #a91a70; border-color: #a91a70; color: #fff !important; }

.admin-index .card .card-body a { color: inherit; }
.admin-index .card .card-body a:hover { color: inherit; }
th.sorting_disabled::before { display: none !important; }
th.sorting_disabled::after { display: none !important; }
.dataTable { color: #696969; width: 100%; table-layout: auto; }
.dataTable th { color: #212529; font-size: 1em; border-color: rgb(222, 226, 230) !important; padding: 0.5rem; }
.dataTable td { padding: 0.5rem; }

.backtotop { font-size: 0.55em; }